body {
    background-image: url("./images/sky.jpg");
    background-size: cover;
}

div {
    box-sizing: border-box;
}

#eve {
    width: 200px;
    height: 395px;
    display: block; 
    margin: 20% 40%; 
}

#head {
    width: 200px;
    height: 148px;
    background-color: ghostwhite;
    position: relative;
    border-radius: 50% / 70% 70% 30% 30%;
    z-index: 2; 
}

#face {
    width: 145px;
    height: 93px;
    display: flex;
    background-color: black;
    position: relative;
    top:40px;
    margin:auto;
    border-radius: 50% / 60% 60% 40% 40%;  
}

.eye {
    width: 41px;
    height: 25px;
    margin-top: 40px;
    background: linear-gradient(
    #4f91f4, 9%, black 9%, 13%,
    #4f91f4 13%, 22%, black 22%, 26%,
    #4f91f4 26%, 35%, black 35%, 39%,
    #4f91f4 39%, 48%, black 48%, 52%,
    #4f91f4 52%, 61%, black 61%, 65%,
    #4f91f4 65%, 74%, black 74%, 78%,
    #4f91f4 78%, 87%, black 87%, 91%,
    #4f91f4 91%, #4f91f4 100%
    );  
    animation: eyes 3s ease alternate infinite;  
}

.left-e {
    border-radius: 30% 70%;
    margin-left: 17px;
}

.right-e {
    border-radius: 70% 30%;
    margin-left: 29px; 
}

#head-shadow {
    width: 200px;
    height: 15px;
    background-image: radial-gradient(silver, ghostwhite);
    position: relative;   
    top: -5px;
    border-radius: 50% / 30% 30% 70% 70%;
    z-index: 1;
    animation: headShadow 3s ease alternate infinite; 
}

#body {
    display: flex;
    position: relative; 
    top: -15px;
    animation: body 3s ease alternate infinite;
}

#main-body {
    width: 200px;
    height: 247px;
    background-color: ghostwhite;
    position: relative; 
    overflow: hidden;
    display: flex;
    border-radius: 50% / 0 0 100% 100%;
}

.hand {
    width: 25px;
    height: 190px;
    background-color: ghostwhite;
    position: absolute;  
    border-radius:  50% / 20% 20% 80% 80%;
    z-index: 1; 
}



.left-h {
    top: 5px;
    left: -15px;
    animation: leftHand 3s ease alternate infinite;
    transform-origin: left top;
}

.right-h {
    top: 5px;
    right: -15px; 
    animation: rightHand 3s ease alternate infinite;
    transform-origin: right top;
}

.shadow {
    width: 20px;
    height: 180px;
    background: radial-gradient(rgb(229, 228, 228), ghostwhite); 
    border-radius: 50%;
    position: absolute;  
    top: 10px;
    border-radius:  50% / 10% 10% 90% 90%;
    animation: handShadows 3s ease alternate infinite;
}

.left-s {
    rotate: -8deg;   
}

.right-s {
    right: 0;
    rotate: 8deg;   
}

@keyframes eyes {
    from{height: 1px; margin-top: 60px;}
    to {height: 25px; margin-top: 40px;}
}

@keyframes headShadow {
    from{height: 0px;
        top: -45px;
        background-image: radial-gradient(ghostwhite, ghostwhite);}
    to {height:15px;
        top:-5px;
        background-image: radial-gradient(silver, ghostwhite);}
}

@keyframes body {
    from{top: -44px;}
    to {top: -15px;}
}

@keyframes leftHand {
    from{transform: rotate(-15deg); width: 0; left: 0;}
    to {transform: rotate(60deg); width: 30px; left: -15px;}
}

@keyframes rightHand {
    from{transform: rotate(15deg); width: 0; right: 0;}
    to {transform: rotate(-60deg); width: 30px; right: -15px;}
}

@keyframes handShadows {
    from{height: 180px; z-index: -1;}
    to {height: 140px; z-index: 1;}
}